<!DOCTYPE html>
<html>
<body>
<h1> B I O </h1>
<address>
Click <a href="mailto:ameliablair@gmail.com">here</a> to send and email to Amelia <br>
</address>
<br>

<img src="http://dinca.org/wp-content/uploads/2013/05/DINCA-visionquest2012-6.jpg" alt="i put a picture on my site" width="587" height="388">
<p>Check out <a href="http://techtalentsouth.com/">Tech Talent South</a> for more information about AMAZING programming courses! </p>
</body>
</html>