<!DOCTYPE html>
<html>
<style>
body
{
background-color:#0000ff;
}
h1
{
color:white;
text-align:left;
}
h3
{
color:white;
text-align:left;
}

p
{
color:white;
font-family:"Arial";
font-size:20px;
}
a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */
</style>

<h1> I N F O <h1>
<address> Click <a href="mailto:ameliablair@gmail.com">here</a> to email Amelia <br>
</address>
<p>Check out <a href="http://techtalentsouth.com/">Tech Talent South</a> </p>
<br>
<h3> Also, here are 3 other websites I really like: </h3>

<ul>
	<li> <a href="http://rhizome.org/">R H I Z O M E</a> </li>
	<li> <a href="http://hyperallergic.com/">H Y P E R A L L E R G I C</a> </li>
	<li> <a href="http://jonesypop.com/goldmosh/">G O L D M O S H</a> </li>
	<li> <a href="http://nickbriz.com/">N I C K   B R I Z</a> </li>
	<li> <a href="http://dinca.org/">D I N C A</a> </li>
	<li> <a href="http://jonathantierney.blogspot.com/">J O N ' S  B L O G</a> </li>
</body>
</html>